<html>
	<head>
		{% if title %}
		<title>{{title}}</title>
		{%else%}
		<title>Welcome epta</title>
		{%endif%}
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
		<link href = "{{ url_for( 'static', filename = 'style.css') }}" rel = "stylesheet"  >
		<link href = "{{ url_for( 'static', filename = 'dialog_page.css') }}" rel = 'stylesheet'>
	</head>
	<body>
		<div>
			Mega messenger:
			<a href= "{{ url_for('main')}}">main</a>
			<a href = "{{ url_for('dialogs') }}">dialogs</a>
		</div>
		<hr>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li>{{ message }} </li>
			{%endfor%}
		</ul>
		{%endif%}
		{%endwith%}
		{%block content%}{%endblock%}
		<script type = 'text/javascript' src = "{{ url_for('static', filename = 'main_script.js') }}"></script>
	</body>
</html>